<h1>User Management</h1>
<div ng-controller="adminCtrl">
	
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Username</th>
					<th>Name</th>
					<th>Email</th>
					<th>Phone Number</th>
					<th>Admin</th>
					<th>Gender</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{user.username}}</td>
					<td>{{user.firstname}} {{user.lastname}}</td>
					<td>{{user.email}}</td>
					<td>{{user.phonenumber}}</td>
					<td><span ng-if="user.isAdmin">Yes</span></td>
					<td ng-if="user.gender === 'M'">Male</td>
					<td ng-if="user.gender === 'F'">Female</td>
					<td ng-if="user.gender === 'U'">Unknown</td>
					<td ng-if="user.gender === 'N'">Neutral</td>
					<td>
						<span ng-if="user.isAdmin"><a class="btn btn-default" ng-click="demoteUser(user.username)">Demote</a></span>
						<span ng-if="!user.isAdmin"><a class="btn btn-warning" ng-click="promoteUser(user.username)">Promote</a></span>
						<a class="btn btn-info" ng-click="editUser(user.username)">Edit</a>
						<a class="btn btn-danger" ng-click="deleteUser(user.username)">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>{{notice}}</div>
	<h2 ng-if="isCreation">Create User</h2>
	<h2 ng-if="!isCreation">Edit User</h2>
	<div>
		
		<div class="form-group">
			<label for="un">Username</label>
			<input style="width:300px" type="text" class="form-control" id="un" placeholder="Username" ng-model="username" ng-readonly="!isCreation">
		</div>
		
		<div class="form-group">
			<label for="pw">
				<span ng-if="isCreation">Password:</span>
				<span ng-if="!isCreation">New Password:</span>
			</label>
			<input style="width:300px" type="password" class="form-control" id="pw" placeholder="Password" ng-model="password">
		</div>
		
		<div class="form-group">
			<label for="fn">First Name</label>
			<input style="width:300px" type="text" class="form-control" id="fn" placeholder="First Name" ng-model="firstname">
		</div>
		
		<div class="form-group">
			<label for="ln">Last Name</label>
			<input style="width:300px" type="text" class="form-control" id="ln" placeholder="Last Name" ng-model="lastname">
		</div>
		
		<div class="form-group">
			<label for="em">Email Address</label>
			<input style="width:300px" type="text" class="form-control" id="em" placeholder="Email" ng-model="email">
		</div>
		
		<div class="form-group">
			<label for="pn">Phone Number</label>
			<input style="width:300px" type="text" class="form-control" id="pn" placeholder="Phone Number" ng-model="phonenumber">
		</div>
		
		<div class="form-group">
			<label for="gd">Gender</label>
			<select style="width:300px" id="gd" ng-model="gender.code" class="form-control">
				<option ng-repeat="option in gender.genders" value="{{option.id}}">{{option.name}}</option>
			</select>
		</div>

		<div ng-repeat="msg in errMsg.messages">{{msg}}</div>
		
    	<span ng-if="isCreation">
			<a class="btn btn-primary" ng-click="createUser()">Create</a>
		</span>
		<span ng-if="!isCreation">
			<a class="btn btn-success" ng-click="saveUser(username)">Save</a>
		</span>
	</div>
</div>