<div ng-controller="gearAdminCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h1>Gear Management</h1>
            </div>
            <div class="col-sm-4">
				<span class="pull-right">
                    <!--Add click functionality-->
					<button type="button" class="btn btn-success" ng-click="showCreateBrandModal()">+ Add Brand</button>
					<button type="button" class="btn btn-success" ng-click="showCreateModelModal()">+ Add Model</button>
				</span>
            </div>
        </div>
    </div>
    <!--Start of Brand Table-->

    <div class="container-fluid">
        <div class="col-sm-6">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Brand</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="brand in brands" ng-click="setSelected(brand)"
                        ng-class="{selected : brand.id === selected}">
                        <td>{{brand.id}}</td>
                        <td>
							<span class="pull-right">
								<a class="btn btn-info" ng-click="showEditBrandModal(brand)">Edit</a>
								<a class="btn btn-danger" ng-click="deleteBrand(brand.id)">Delete</a>
							</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Models</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="model in models" ng-click="">
                        <td>{{model}}</td>
                        <td>
                            <span class="pull-right">
                                <a class="btn btn-info" ng-click="">Edit</a>
                                <a class="btn btn-danger" ng-click="deleteModel(model)">Delete</a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{notice}}

    <!--Brand creation-->
    <script type="text/ng-template" id="BrandCreate.html">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3 class="modal-title">Add Brand</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="cc">Brand Name</label>
                    <input style="width:300px" type="text" class="form-control" id="cc" placeholder="Brand Name"
                           ng-model="newBrand.name">
                </div>

                <div class="form-group">
                    <label for="cd">Brand Description</label>
                    <input style="width:300px" type="text" class="form-control" id="cd" placeholder="Brand Description"
                           ng-model="newBrand.description">
                </div>
                <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </script>

    <!--Model creation -->
    <script type="text/ng-template" id="ModelCreate.html">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3 class="modal-title">Add Model</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="mn">Model Name</label>
                    <input style="width:300px" type="text" class="form-control" id="mn" placeholder="Model Name"
                           ng-model="newModel.type">
                </div>
                <div class="form-group">
                    <label for="md">Model Description</label>
                    <input style="width:300px" type="text" class="form-control" id="md" placeholder="Model Description"
                           ng-model="newModel.description">
                </div>

                <div class="form-group">
                    <label for="ms">Brand</label>
                    <select style="width:300px" id="ms" ng-model="newModel.name" ng-options="brand.id for brand in brands"
                            class="form-control">
                    </select>
                </div>
                <!--Add click functionality-->
                <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </script>


    <!--Brand edit-->
    <script type="text/ng-template" id="BrandEdit.html">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3 class="modal-title">Add Brand</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="bn">Brand Name</label>
                    <input style="width:300px" type="text" class="form-control" id="bn" placeholder="Brand Name"
                           ng-model="newBrand.id">
                </div>

                <div class="form-group">
                    <label for="bd">Brand Description</label>
                    <input style="width:300px" type="text" class="form-control" id="bd" placeholder="Brand Description"
                           ng-model="newBrand.description">
                </div>
                <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </script>
    <button type="button" ng-click="testButton()">test</button>
</div>