<h1>Recycle Bin</h1>
<div ng-controller="binCtrl">
	<h2>Trushed Notes</h2>
	
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Date Created</th>
					<th>Content</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="note in trushedNotes">
					<td style="white-space: normal">{{note.datecreated}}</td>
					<td style="white-space: normal">{{note.content}}</td>
					<td><a class="btn btn-success" ng-click="restoreNote(note.noteid)">Restore</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<p ng-if="trushedNotes.length === 0">You don't have trushed notes</p>
</div>