<h1>Gear</h1>

<div ng-controller="gearCtrl">

<div class="table-responsive">
	<table id="gearTable" class="table table-hover">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <select style="width:300px" ng-model="selectedBrand" ng-change="getModels()" ng-options="brand.id for brand in brands" class="form-control">
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select style="width:300px" id="sm" ng-model="selectedModel" ng-options="model for model in models" class="form-control">
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input style="width:300px" id="gr" ng-model="selectedDescription" placeholder="Gear Description" class="form-control">
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="addGear()">+ Add</button>
                </td>
            </tr>
            <tr ng-repeat="gear in gearList">
                <td>
                    <div class="form-group">
                        <input style="width:300px" id="gb" ng-model="gear.brand" placeholder="Gear Description" class="form-control" readonly>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input style="width:300px" id="gm" ng-model="gear.model" placeholder="Gear Description" class="form-control" readonly>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input style="width:300px" ng-model="gear.description" id="gd" placeholder="Gear Description" class="form-control">
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-info" ng-click="editGear(gear.brand,gear.model,gear.description,gear.id)">Save</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteGear(gear.brand,gear.model, gear.id)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
    {{notice}}
</div>
</div>