<div>
	<div id="column">
		<h2>Records</h2>	
		<div ng-repeat="record in recordListArray" class="record-list">
			<p ng-click="getRecords(record);" id="recordList">{{record}}<p>
		</div>
	</div>
	
		<div class="record-display">
			
			<h3>{{recordName}}</h3>
			<h4>{{recordDate}}</h4>
			<p>{{description}}</p>
			<h5>{{heading}}</h5>
			<h5>{{storedAltitude}}</h5>
			
			<div id="form"></div>

			<!-- <form name="myForm">
			<table>
					<tr>
						<td>
							<input type="radio" name="myRadios"  value="1" />
						</td>
						<td>
							<input type="radio" name="myRadios"  value="2" />
						</td>
					</tr>
				</table>
			</form>	 -->
			
			<div id="chart"></div>

			<div id="map"></div>
		</div>	
</div>