<div>	
	<div ng-repeat="record in recordListArray" class="record-list">
		<p ng-click="getRecords(record);">{{record}}<p>
	</div>
		<div class="record-display">
			<h2>View Records</h2>
			<h3>{{recordName}}</h3>
			<h4>{{recordDate}}</h4>
			<p>{{description}}</p>
			<div id="chart"></div>
			
			<div id="map"></div>
			
			<script async defer
		    	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpDZEECQbfdpdWxTmyhOp6WNbC_9ZGjGo">
		    </script>
		</div>	
	</div>
</div>