<h1>Upload Record</h1>
<br>
<div ng-controller = "upload">
<table>
	<tr>
		<td><label>Upload Record File (.csv):</label></td>
		<td><input type="file" file-model="myFile"/></td>
		<td><p class="error">{{fileError}}</p></td>
	</tr>
	<tr>
		<td><label>Title:</label></td>
		<td><input type=text ng-model="title"></td>
		<td><p class="error">{{titleError}}</p></td>
	</tr>
	<tr>
		<td><label>Description:</label></td>
		<td><input type=text ng-model="description"></td>
	</tr>
	<tr>
		<td><button ng-click="uploadFile()">Upload</button></td>
	</tr>
</table>
<br>
<h4>{{success}}</h4>

<button ng-click="testFunction()">Username</button>

</div>