<div class="container-fluid">
	<h1>Upload Record</h1>
	<br>
	<table>
		<tr>
			<td style="width: 300px;"><label for="ur">Upload Record
					File (.csv):</label></td>
			<td style="width: 300px;">
				<div class="form-group">
					<input class="btn btn-default btn-file" id="ur" type="file"
						file-model="myFile" />
				</div>
			</td>
			<td style="width: 0px;"><p class="error">{{fileError}}</p></td>
		</tr>
		<tr>
			<td style="width: 300px;"><label>Title:</label></td>
			<td style="width: 300px;">
				<div class="form-group">
					<input type=text ng-model="title" class="form-control"
						style="width: 300px;">
				</div>
			</td>
			<td><p class="error">{{titleError}}</p></td>
		</tr>
		<tr>
			<td style="width: 300px;"><label>Description:</label></td>
			<td style="width: 300px;">
				<div class="form-group">
					<input type=text ng-model="description" class="form-control"
						style="width: 300px;">
			</td>
			</div>
		</tr>
		<tr>
			<td><button class="btn btn-info" ng-click="uploadFile()">Upload</button></td>
		</tr>
	</table>
	<br> <label class="status">{{success}}</label>
</div>